/* importing google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* color variables */
  --bg-primary: #413c58; /* english violet */
  --bg-secondary: #a3c4bc; /* ash gray */
  --font-color-primary: #bfd7b5; /* tea green */
  --font-color-secondary: #e7efc5; /* cream */
  --backup-color: #f2dda4; /* vanilla */
}

/* styling is desktop first */
body {
  height: 100vh;
  background: var(--bg-primary);
}

/* style for header/navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 70px;
}

/* style for children of header */
.navbar h2 {
  color: var(--font-color-primary);
  font-weight: 800;
}

.navbar ul {
  display: flex;
}

/* removes the bullet style */
.navbar ul li {
  list-style: none;
}

/* style for the links to other pages */
.navbar ul li a {
  text-decoration: none;
  color: var(--backup-color);
  font-size: 18px;
  font-weight: 600;
  margin-right: 50px;
  transition: color 0.3s ease;
}

/* event that triggers line 56 */
.navbar ul li:hover a {
  color: var(--font-color-primary);
}

/* removes the margin of the rightmost list item */
.navbar ul li:last-child a {
  margin-right: 40px;
}

/* styling the hero section */
.greeting {
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: var(--bg-secondary);
}

/* robert frost quote */
.fave-quote {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  width: 500px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: var(--font-color-primary);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
}

/* about me section */
.elevator-pitch {
  margin: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* about me text paragraph */
.elevator-pitch p {
  color: var(--font-color-primary);
  font-size: 18px;
  text-align: justify;
}

/* resume & about me link inside text paragraph */
.elevator-pitch a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-weight: 700;
  transition: color 0.3s ease;
}

/* event that triggers line 121 */
.elevator-pitch a:hover {
  color: var(--backup-color);
}

/* progress bar */
.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: var(--font-color-secondary);
}

/* begin footer styling */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-secondary);
  padding: 20px 50px 40px;
}

/* copyright syling */
footer .copyright {
  color: var(--bg-primary);
  font-size: 14px;
}

/* useful links styling */
footer .useful-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

footer .useful-links ul li {
  list-style: none;
  line-height: 25px;
}

/* removing anchor rendor styling */
footer .useful-links ul li a {
  text-decoration: none;
  color: var(--bg-primary);
  /* transition of links */
  transition: color 0.3s ease;
}

/* event that triggers line 171 */
footer .useful-links ul li a:hover {
  color: var(--backup-color);
}
